<launch>

    <node pkg="markertracker_node" type="process_frame_topic.py" name="markertracker_node" output="screen">

        <param name="input_image_topic" type="string" value="/iris/usb_cam/image_raw"/>
        <param name="publish_topic_image_result" value="True"/>
        <param name="path_to_camera_file" value="$(find markertracker_node)/calibration/iris_fpv_cam_640x480.yaml"/>
        <param name="marker_length" value="50"/>

        <param name="ignore_marker_ids_array" value="17"/> <!-- id 17 is easily mistaken. TODO: implement  -->


    </node>

</launch>
